*{
	margin: 0;
	padding: 0;
}

main{
	margin: 0;
	padding: 0;
	width: 100%;
}
.image-fluid{
	margin: 0;
	width: 100%;
	height: 100%;
	image-orientation: ;
}

.carousel-item{
	height: 70vh;
}

.content{
	  position: absolute;
	  bottom: 0;
	  background: rgba(0, 0, 0, 0.5);
	  color: #f1f1f1;
	  width: 100%;
	  padding: 50px;
}

.fa-shopping-cart{
	color: white;
	font-size: 30px;
}

.nav-link .badge{
	color: lightblue;
	font-weight: bolder;
	font-family: cursive;
	
}

#collapses{
	overflow: fixed;
}

.card-item-1{border-radius: 10px;}
.card-item-2{border-radius: 10px;}
.card-item-3{border-radius: 10px;}
.card-item-4{border-radius: 10px;}
.card-item-5{border-radius: 10px;}





.container-fluid-2{
	justify-content: center;
	padding: 50px;
	align-items: center;
	height: 80vh;
}

@media screen and (max-width:800px){
	body{

	}
	.container-fluid-2{
		display: block;
		row-gap: 50px;
		padding: 50px 0px 50px 0px;
		overflow: scroll;
	}
	.container-fluid-2::-webkit-scrollbar{
		display: none;
	}
	.container-fluid-2 .card-text{
		padding: 5px;
		font-size: 100%;
	}
	.item-1{ margin: 0; padding: 0;}
	.item-2{margin: 0; padding: 0;}
	.item-3{ margin: 0; padding: 0;}
	.item-4{margin: 0; padding: 0;}

	.card{
		padding-top: 50px;
		height: 470px;
		width: 100%;
		
		margin-right: 10px;
	}
	img{
		height: 100%;
		width: 100%;
	}
	
}

@media screen and (min-width:800px){
	.container-fluid-2{
		display: flex;

	}
	.container-fluid-2 .card-text{
		padding: 5px;
		font-size: 15px;
	}

	.item-1{float: right; }
	.item-2{}
	.item-3{float: right; }
	.item-4{}

	.card-text{
		
	}

	b{
		font-size: 20px;
	}

	.container-fluid-3{
		height: 100%;
		background-image: url("shopping.jpg");
		background-size: cover;
		padding: 0;
	}
	.container-fluid-item-1{
		padding: 100px;
	}

	.container-fluid-3 .item-1{width: 700px;}
	.container-fluid-3 .item-2{width: 700px;}
	.container-fluid-3 .item-3{width: 700px;}
	.container-fluid-3 .item-4{width: 700px;}

	.card-item-1:hover{
	margin-bottom: 50px;
	transition: 1s;
	}

	.card-item-2:hover{
		margin-bottom: 50px;
		transition: 1s;
	}

	.card-item-3:hover{
		margin-bottom: 50px;
		transition: 1s;
	}

	.card-item-4:hover{
		margin-bottom: 50px;
		transition: 1s;
	}

	.card-item-5:hover{
		margin-bottom: 50px;
		transition: 1s;
	}
	.image{
		height: 150px;
		width: 100%;
	}



	.card-item-1{
		margin-right: 50px;	
		width: 300px;
		height: 500px;
	}

	.card-item-2{
		margin-right: 50px;		
		width: 300px;
		height: 500px;
	}

	.card-item-3{
		margin-right: 50px;		
		width: 300px;
		height: 500px;
	}

	.card-item-4{
		margin-right: 50px;		
		width: 300px;
		height: 500px;
	}

	.card-item-5{
		width: 300px;
		height: 500px;				
	}
	.model-content{
		
	}
}


/*login page*/
.model{
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.4);
}

.model-content{
	margin: 0% auto 15% auto;
	width: 70%;
}

.model::-webkit-scrollbar{
	display: none;
}

form{
	border-radius: 10px;
	background-color: ghostwhite;
	padding: 30px;
	width: ;
}

.close{
	cursor: ponter;
	font-weight: bold;
}

#demo{
	background-color: darkcyan;
	width: 100%;
	height: 100vh;
	position: absolute;
	top:0;
	right: 0;
	padding-top: 50px;
}